{% load static %}
<!DOCTYPE html>
<html>

<body>
<div class="container col-12">
    <div class="logo" style="display: flex; align-items: center;">
        <img src="https://drive.google.com/file/d/1HksTzxs3KBJxnhEpVJ3qbi6mg0Sf8ipJ/view?usp=sharing" alt="Logo" style="max-width: 50px; max-height: 50px;">
    </div>
    

    <p>You're receiving this email because you requested a password reset for {{ site_name }} </p>

    <p>Please click the reset password link to reset a new password:</p>
    <p>{{ protocol }}://{{ subdomain }}{{ domain }}/confirm-reset-password/{{ uidb64 }}/{{ token }}</p>
    <a href="{{ protocol }}://{{ subdomain }}{{ domain }}/confirm-reset-password/{{ uidb64 }}/{{ token }}" style="background-color: #007bff; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px; display: inline-block;">Reset Password</a>


    <p> Your username, in case you’ve forgotten: {{ user.get_username }} </p>
    <p>Thanks for using our site! </p>
    

    <div class="lockscreen-footer text-center  fixed-bottom">
        Copyright &copy;
        <script>
        document.write(new Date().getFullYear())
        </script><b><a href="#" class="text-black"> Mahshell Soft Limited</a></b><br>
        All rights reserved
    </div>
</div>
</body>
</html>
